[workspace]
members = [
  "mandy-bin",
  "components/utils",
  "components/extras",
  "components/merrors",
  "components/compiler",
  "components/get_data",
  "components/variables",
  "components/processors",
]

[profile.release]
lto = true
strip = true
opt-level = "z"
codegen-units = 1